
body {
    background-color: #f1f1f1;
    margin: 0;
}

#droids-meme {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 500%;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#go-home {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#home-link {
    text-decoration: none;
}

a:hover {
    color: #FF0000;
}
