
@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    background: whitesmoke;
    overflow-x: hidden;
}

.uk-navbar {
    background-color: lightgray;
}

hr {
    display: block;
    position: relative;
    margin: 0px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
}

#top {
    text-align: center;
}

#top-heading {
    padding-top: 170px;
    padding-bottom: 170px;
    display: block; text-decoration: none;
    font: 500% 'Raleway', sans-serif;
    letter-spacing: -5px;
    text-align: center;
    color: #999; text-shadow: 0px 3px 8px #2a2a2a;
}

@media only screen and (min-width: 800px) {
    #top-heading {
        font: 10em 'Raleway', sans-serif;
    }
}

.cursor-blink {
    opacity: 0.4;
    animation: blink 1s infinite;
}

@keyframes blink{
    to{opacity: .0;}
}


#profile {
    padding-top: 5em;
    padding-bottom: 5em;

    text-align: center;
}

.profile-image {
    border-radius: 50%;
}

.profile-heading {
    padding-bottom: 1em;
    line-height: normal;
    font-size: 200%;
}

.profile-desc {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 200%;
}


#footer {
    background-color: dimgrey;
    padding-top: 30px;
    padding-bottom: 30px;
}

.inline-images {
    display: inline-block;
    margin: 0 40px 0 0;
    text-align: center;
}

.footer-image-a:hover{
    opacity: 0.7;
}

.footer-image {
    max-width: 48px;
    max-height: 48px;
}







