
body {
    /* background-color: #f1f1f1; */
    margin: 0;
}

body {
    -webkit-text-size-adjust: none;
}

#main-title {
    font-family: 'Quicksand', sans-serif;
    line-height: 70px;
    padding-bottom: 80px;
    font-size: 500%;
}

#main-body {
    padding-top: 55px;
    padding-bottom: 55px;
}

#about-title {
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 30px;
    font-size: 400%;
}

#about-body {
    padding-top: 30px;
    padding-bottom: 30px;
}

#profile-pic {
    padding-top: 60px;
}

#contact-title {
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 60px;
    font-size: 400%;
}

#contact-body {
    padding-top: 70px;
    padding-bottom: 100px;
}

#badge-separator {
    padding-top: 35px;
}

.centered {
    text-align: center;
}

.lefted {
    text-align: left;
}

