body {
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: whitesmoke;
}

.clickable {
    cursor: pointer;
}

/* HEADING and NAVBAR */

.header-container {
    padding-top: 3em;
    padding-bottom: 3em;
    background: #E53935
}

.header-text {
    font-weight: 700;
}

.header-button {
    background: #E53935;
}

.header-button:hover {
    background: #B71C1C;
}

/* PROFILE */

#profile {
    padding-top: 100px;
}

.profile-card-title {
    padding-top: 2em;
}

/* TIMELINE */

#timeline {
    margin-top: 50px;
}

.timeline-item {
    opacity: 0;
}

/* CONTACT */

#contact {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* FOOTER */

.copyright-padding {
    padding-top: 1em;
}

.footer-copyright {
    font-size: 80%;
}

.footer-images {
    margin-top: 1em;
}
 
.footer-image-a:hover{
    opacity: 0.7;
}
