body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

html,
body {
    height: 100%;
}

@media (min-width:0px)  { 
    #site-header {
        background-image: url('/static/images/code2.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0vw 75vh;
        filter: grayscale(100%);
    }
}

#site-logo-wrapper {
    height: 100vh;
}

#site-logo-wrapper2 {
    width: 100%;
}

#profile-wrapper {
    height: 50vh;
}

@media (min-width:641px)  { 
    #profile-wrapper {
        height: 100vh;
    }
}

@media (max-width:641px)  { 
    #profile-image {
        margin: 0 auto;
    }
}

#site-logo {
    font-family: 'Gudea', sans-serif;
    font-size: 4em;
}

#profile-logo {
    font-family: 'Gudea', sans-serif;
    font-size: 4em;
}

#site-main {
    padding-top: 3%;
}

#shortcut-button {
    font-size: 1vw;
}

.waves-effect.waves-black {
    background-color: #000;
}

.footer-images {
    margin-top: 1em;
}
 
.footer-image-a:hover{
    opacity: 0.7;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #4caf50;
    margin: 1em 0;
    padding: 0;
}