body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.profile-image {
  display: block;
  margin: auto;
  max-height: auto;
  width: 13em;
  border-radius: 50%;
}

.profile-heading {
  text-align: center;
  font-weight: 600;
}

.small-separation {
  margin-top: 1em;
}

.medium-separation {
  margin-top: 2em;
}

.small-text {
  font-size: 0.75em;
}

